<div class="our-clints-container">
    <div class="title-box">
        <div class="title">
            <span class="Main-title">Trusted By</span>
            <span class="sub-title">Over +100 Companies</span>
        </div>
    </div>
    <div class="slider">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img class="carousel-img"
                    [src]="'assets/images/company-placeholder.png'"></ng-template>
        </owl-carousel-o>
    </div>
</div>