<div class="hero-section_container">

    <div class="content">
        <div class="main-content">
            <h2>Drive Clicks & Slash
                Costs for your business!</h2>
            <h6>Trigger the power of UGC Ads</h6>
            <button class="btn btn-dark custom-hero_btn">GET STARTED</button>
        </div>
        <div class="animated-content">
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
        </div>
        <div class="sec-animated-content">
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
            <img src="assets/images/test-frame.png" alt="" />
        </div>
        <div class="animated-content-sm">
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
            <img src="assets/images/sm-slider-placeholder.png" alt="" />
        </div>
    </div>
</div>