<div class="hero-section_container">

    <div class="content">
        <div class="main-content">
            <h2>Drive Clicks & Slash
                Costs for your business!</h2>
            <h6>Trigger the power of UGC Ads</h6>
            <button class="btn btn-dark custom-hero_btn">GET STARTED</button>
        </div>
        <div class="animated-content">
            <img src="assets/images/hero-slider1.png" alt="" srcset="">
            <img src="assets/images/hero-slider2.png" alt="" srcset="">
        </div>
        <!-- <div class="animated-content-sm d-none d-md-block d-sm-block">
            Animation
        </div> -->
    </div>
</div>