.navbar.custom-nav {

    .navbar-brand {
        padding-left: 7rem;
        padding-right: 1rem;
    }

    padding: 2rem 0;
    font-family: 'gt-america';
    font-size: 14px;
    font-weight: bold;
    background-color: var(--primary);

    .nav-item {
        cursor: pointer;
        margin-right: 2rem;
    }

    .dropdown-toggle:after {
        font-family: FontAwesome;
        content: "\f107";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        border-top: 0;
    }

    .navbar-toggler {
        border: none;
        line-height: inherit;

        .navbar-toggler-icon {
            background-image: none;
        }

        .navbar-toggler-icon::after {
            content: "\f0c9";
            font-family: "FontAwesome";
            font-size: 22px;
        }
    }
}

@media (max-width: 991px) {

    /* Styles for tablets and smaller devices */
    .navbar.custom-nav {
        padding: 0;

        .navbar-brand {
            padding-left: 1rem;
        }
    }
}

@media (max-width: 480px) {

    /* Styles for mobile devices */
    .navbar.custom-nav {
        padding: 0;

        .navbar-brand {
            padding-left: 1rem;
        }
    }
}