<nav class="navbar navbar-expand-lg custom-nav">
    <a class="navbar-brand">
        <img src="/assets/images/main-logo.png" alt="">
    </a>
    <button class="navbar-toggler" (click)="toggleMenu()" type="button" data-toggle="collapse"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #navbarNav>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">OUR PACKAGES </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">FOR CREATORS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">OUR WORK</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="img-fluid" src="/assets/icons/usa.png" alt="ogbees logo">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Arabic</a>
                </div>
            </li>
        </ul>
    </div>
</nav>